/* SELETTORE{
PROPRIETA': valore;
PROPRIETA': valore;
} */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.navbar{
    background-color: #1A1A1A;
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
}


.link{
    color: white;
    text-decoration: none;
}


#name{
    color: #DCFE50;
    padding-top: 12px;
    font-size: x-large;
    font-style: italic;
}


.first-page{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 2px;
    height: 700px;
}


.color-black{
    background-color: #1A1A1A;
    height: 100%;
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 20%;
    padding-right: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 40px;
    text-decoration: underline;
    color: #DCFE50;
}


.color-white{
    background-color: white;
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 20%;
    padding-left: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 40px;
    text-decoration: underline;
    border: 5px solid #1A1A1A;
    color: #1A1A1A;
}


.contenitore{
    height: 700px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 2px;
    background-color:#1A1A1A;
}


.nuovo{
    width: 50%;
    height: 600px;
    float: right;
}


.img-of-me{
    width: 60%;
    height: 80%;
    position: relative;
    left: 50px;
    margin-top: 10px;
}


.introduzione{
    float: left;
    width: 50%;
    color: aliceblue;
    padding-left: 100px;
    padding-top: 40px;
}


.title{
    color: #DCFE50;
}


footer h6{
    text-align: center;
    font-size: 10px;
}



 /* phones */
@media screen and (max-width: 540px) {

    .navbar{
        flex-direction: column;
        font-size: 80%;
    }
    
    #name{
      font-size: 80%;
    }
    
    .first-page{
        height: 400px;
        margin: 0;
    }
   
    .color-black{
        padding-top: 20%;
        padding-right: 10px;
        font-size: 20px;
    }

    .color-white{
        padding-top: 20%;
        padding-left: 10px;
        font-size: 20px;
    
    }
    
    .contenitore{
        min-height: 50px;
        margin: 0;
    }
    
    .nuovo{
        width: 50%;
        height: 300px;
        float: right;
    }
    
    .img-of-me{
        width: 70%;
        height: 80%;
        position: relative;
        left: 30px;
    }
    
    .introduzione{
        float: left;
        width: 50%;
        padding: 20px;
    }
    
    .title{
        font-size: 20px;
    }

    .paragrafo-1{
        font-size: 10px;
    }
    
    footer h6{
        font-size: 5px;
     }
    }



  
  /* tablets */
  @media screen and (min-width: 540px) and (max-width: 720px) {


        .navbar{
            font-size: 80%;
    }
    
    #name{
        font-size: 80%;
      }
      
    .first-page{
        height: 500px;
        margin: 0;
    }
   
    .contenitore{
        min-height: 50;
        margin-right: 0;
        margin-left: 0;
    }

    .color-black{
        padding-top: 20%;
        padding-right: 15px;
        font-size: 30px;
    }

    .color-white{
        padding-top: 20%;
        padding-left: 15px;
        font-size: 35px;
    }
    
    .nuovo{
        width: 50%;
        height: 600px;
        float: right;
    }
    
    .img-of-me{
        width: 70%;
        height: 80%;
        position: relative;
        left: 30px;
    }
    
    .introduzione{
        float: left;
        width: 50%;
        padding: 20px;
    }
    
    footer h6{
        text-align: center;
        font-size: 10px;
     }
    }

