/* SELETTORE{
PROPRIETA': valore;
PROPRIETA': valore;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-color: #1A1A1A;
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
}
    
    
.link{
    color: white;
    text-decoration: none;
}
    
    
#name{
    color: #DCFE50;
    padding-top: 12px;
    font-size: x-large;
    font-style: italic;
    text-decoration: none;
}
    
    
.first-page{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 2px;
    height: 700px;
    border: 5px solid #1A1A1A;
}
    
    
.color-black{
    background-color: #1A1A1A;
    height: 100%;
    width: 50%;
    float: left;
}


.text-1{
    text-align: right;
    padding-top: 10%;
    padding-right: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size:  40px;
    text-decoration: underline;
    color: #DCFE50;
}


.text1{
    color: white;
    text-align: right;
    padding-top: 10%;
    padding-right: 60px;
    font-size: large;
}
 
    
.color-white{
    background-color: white;
    height: 100%;
    width: 50%;
    float: right;
}


img{
    width: 30px;
}


.text-2{
    padding-top: 10%;
    padding-left: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 40px;
    text-decoration: underline;
    color: #1A1A1A;
}


.text2{
    color: #1A1A1A;
    padding-top: 10%;
    padding-left: 40px;
    font-size: large;
}


.contenitore{
    margin-top: 2px;
    width: 100%;
    height: 700px;
    background-image: url(../assets/img/torino.jpeg);
    background-size: cover;
}


.form-page{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 2px;
    height: 1000px;
    background-color: #1A1A1A;
}


.font-text{
    color: white;
    text-align: center; 
}


.text-h4{
    text-align: center;
    color: #DCFE50;
    padding-top: 10px;
}


.e-row{
    width: 300px;
}


#submit{
    padding: 10px;
    font-size: large;
}


#textarea{
    width: 500px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid white;

}


footer h6{
    text-align: center;
    font-size: 10px;
}




 /* phones */
@media screen and (max-width: 540px) {

    .navbar{
        flex-direction: column;
        font-size: 80%;
    }
           
    #name{
        padding-top: 6px;
        font-size: x-large;
    }
          
    .first-page{
        margin: 0;
        height: 400px;
    }
        
    .text-1{
        padding-top: 10%;
        padding-right: 30px;
        font-size: 20px;
    }
    
    .text1{
        padding-top: 10%;
        padding-right: 30px;
        font-size: 14px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
      
    img{
        width: 15px;
    }

    svg{
        width: 15px;
        height: 15px;
    }    
    
    .text-2{
        padding-top: 10%;
        padding-left: 20px;
        font-size: 20px;
    }
    
    .text2{
        padding-top: 10%;
        padding-left: 20px;
        font-size: 14px;
    }
    
    .contenitore{
        height: 500px;
        width: 100%;
        margin: 0;
    }
    
    .form-page{
        margin: 0;
        min-height: 100px;
    }
    
    .text-h4{
        padding-top: 5px;
    }
    
    .e-row{
        width: 150px;
    }
    
    #textarea{
        width: 250px;
        height: 100px;
        border-radius: 5px;
        border: 2px solid white;
    }

    #submit{
        padding: 5px;
        font-size: small;
    }

    footer h6{
        text-align: center;
        font-size: 5px;
    }
 }


  
  /* tablets */
  @media screen and (min-width: 540px) and (max-width: 720px) {
        .navbar{
            flex-direction: column;
            font-size: 80%;
    }
    
    .first-page{
        height: 500px;
        margin: 0;
    }

    .text-1{
        padding-top: 10%;
        padding-right: 30px;
        font-size:  30px;
    }
    
    .text1{
        padding-top: 10%;
        padding-right: 30px;
        font-size: 20px;
    }

    img{
        width: 20px;
    }

    svg{
        width: 20px;
        height: 20px;
    }    

    .text-2{
        padding-top: 10%;
        padding-left: 30px;
        font-size: 30px;
    }
    
    .text2{
        padding-top: 10%;
        padding-left: 30px;
        font-size: 20px;
    }
      
    .contenitore{
        height: 700px;
        width: 100%;
        margin: 0;
    }

    .form-page{
        margin: 0;
        min-height: 100px;
    }

    .text-h4{
        padding-top: 15px;
    }
    
    .e-row{
        width: 200px;
    }
    
    #textarea{
        width: 300px;
        height: 150px;
        border-radius: 5px;
        border: 2px solid white;
    }

    #submit{
        padding: 5px;
        font-size: large;
    }


    footer h6{
        text-align: center;
        font-size: 10px;
    }
 }
    
    

