/* SELETTORE{
PROPRIETA': valore;
PROPRIETA': valore;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-color: #1A1A1A;
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
}
    
    
.link{
    color: white;
    text-decoration: none;
}
    
    
#name{
    color: #DCFE50;
    padding-top: 12px;
    font-size: x-large;
    font-style: italic;
    text-decoration: none;
}
    
    
.first-page{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 2px;
    height: 700px;
    border: 5px solid #1A1A1A;
}
    
    
.color-black{
    background-color: #1A1A1A;
    height: 100%;
    width: 50%;
    float: left;
}


.text-1{
    text-align: right;
    padding-top: 20%;
    padding-right: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 40px;
    text-decoration: underline;
    color: #DCFE50;
}


.text1{
    color: white;
    text-align: right;
    padding-top: 20%;
    padding-right: 60px;
    font-size: large;
}

    
    
.color-white{
    background-color: white;
    height: 100%;
    width: 50%;
    float: right;
}

img{
    width: 30px;
}


.text-2{
    padding-top: 20%;
    padding-left: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 40px;
    text-decoration: underline;
    color: #1A1A1A;
}


.text2{
    color: #1A1A1A;
    padding-top: 20%;
    padding-left: 40px;
    font-size: large;
}

.container{
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 2px;
    height: 700px;
    width: 100%;
    background-image: url(../assets/img/torino.jpeg);
    background-size: cover;
}


.form-page{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 2px;
    height: 1000px;
    background-color: #1A1A1A;
}

.font-text{
    color: white;
    text-align: center; 
}

.text-h4{
    text-align: center;
    color: white;
    padding-top: 10px;
}

.e-row{
    width: 300px;
}


#submit{
    padding: 10px;
    font-size: large;
}

footer h6{
    text-align: center;
    font-size: 10px;
}
